.Lorm-H {
  height: 30vh;
}

.form-check .form-check-input {
  float: none;
  margin-left: 0em;
}

#checkOk {
  height: 20px;
  width: 20px;
}

#checkOk:checked {
  background-color: green;
}

#checkOk:focus {
  border-color: aquamarine;
  box-shadow: 0 0 0px 0.25rem aquamarine;
}
