
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="title d-flex justify-content-center mt-5 mb-0">
    <h5 class="modal-title fs-5 fw-bold" id="exampleModalLabel">設定密碼</h5>
</div>
<div class="modal-body mt-0 mb-0">
    <div class="inner">
        <input name="set-password" id="set-Password" class="input password d-inline-flex justify-content-start align-items-center mb-2" type="password" placeholder="新密碼" required value="">
        <span class="icon icon d-flex justify-content-center  align-items-center">
            <i class="fas fa-key d-inline-block">
            </i>
        </span>
        <span id="tip-setPassword" class="text-danger"></span>
    </div>
    <div class="inner">
        <input name="check-password" id="check-Password" class="input password d-inline-flex justify-content-start align-items-center mb-2" type="password" placeholder="確認密碼" required value="">
        <span class="icon icon d-flex justify-content-center  align-items-center">
            <i class="fas fa-key d-inline-block">
            </i>
        </span>
        <span id="tip-checkPassword" class="text-danger"></span>
    </div>
    <div class="btn-div">
        <button type="button" class="Save-btn
                sent-btn btn-primary">
            儲存
        </button>
    </div>
</div>

<button class="p-1">關注</button>



@section endJS{
    <script src="~/js/ResetPassword.js"></script>
}