@using Bccupass_CoreMVC.Models.ViewModel.Organizer

@model OrganizerAboutViewModel

@*@await Html.PartialAsync("_OrganizerIndexPartial")*@

@await Html.PartialAsync("_OrganizerIntroPartial")
    @await Html.PartialAsync("_OrganizerDetailPartial")


    <div class="tab-content container py-4" id="myTabContent">
        <div class="about-tab tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p class="fs-5 fw-bold mb-3">簡介</p>
            <p class="description-text">@Model.organizer.Description</p>
            <p class="fs-5 fw-bold mb-3">媒體連結</p>
            <ul class="media-link-list">
                <li class="site-link media-link"><a href=@Model.organizer.OfficialWebsite>官方網站</a></li>
                <li class="fb-link media-link"><a href=@Model.organizer.FacebookWebsite>Facebook</a></li>
            </ul>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="inprogress-wrap py-2">
                <p class="fs-5 fw-bold mb-3">進行中</p>
                <div class="row"></div>
            </div>
            <div class="notstart-wrap py-2">
                <p class="fs-5 fw-bold mb-3">尚未開始</p>
                <div class="row"></div>
            </div>
            <div class="end-wrap py-2">
                <p class="fs-5 fw-bold mb-3">已結束</p>
                <div class="row"></div>
            </div>
        </div>
    </div>

@section topCSS{
    <link href="~/css/Organizer/OrganizerIndex.css" rel="stylesheet" />
}

