@using Bccupass_CoreMVC.Models.ViewModel.Organizer
@model CreateOrganizerViewModel

@section Topcss{
<link rel="stylesheet" href="~/css/Global.scss />
<link rel="stylesheet" href="~/css/Organizer/CreateOrganizer.css" />
}


<div class="container my-5 align-content-center">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="text-center">申請成為主辦</h1>
            <form id="applyOrganizer" asp-action="CreateOrganizer">
                <div class="mb-3 text-center">
                    <img class="showImg">
                </div>
                <div class="mb-3 text-center">
                    <input asp-for="Image" type="file" class="btn-check" id="orgImg" autocomplete="off">
                    <label asp-for="Image" class="btn btn-outline-primary " for="orgImg">上傳頭像</label>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Name" for="orgName" class="form-label star">主辦單位名稱</label>
                    <input asp-for="Name" type="text" class="form-control" id="orgName" placeholder="請填寫主辦單位" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" for="orgEmail" class="form-label star">主辦單位 Email</label>
                    <div class="form-text"> 我們會將消費者的意見及疑問發送到此信箱 </div>
                    <input asp-for="Email" type="email" class="form-control" id="orgEmail" placeholder="請填寫 Email" required>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Telphone" for="orgPhone" class="col-sm form-label star">主辦單位電話號碼</label>
                    <div class=" form-text">活動參加人可於票券上查看此聯繫電話。</div>
                    <input asp-for="Telphone" type="tel" class="orgphone form-control" id="orgPhone" placeholder="請填寫電話" required>
                    <span asp-validation-for="Telphone" class="text-danger"></span>
                </div>
                <label asp-for="Description" class="form-label star">主辦單位簡介</label>
                <textarea asp-for="Description" id="introduction" class="form-control" aria-label="With textarea" rows="6" placeholder="請填寫主辦單位簡介"
                          maxlength="500" required></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
                <p class="text-end d-block">
                    <span id="fontLange">0</span> / <span>500</span>
                </p>
                <button id="sumBtn" type="submit" class="btn btn-primary w-100 mb-5">送出</button>
            </form>
        </div>
    </div>
</div>

@section endJS{
<script src="~/js/CreateOrganizerJS.js"></script>
}
