<div class="d-flex flex-column justify-content-center align-content-center w-50 m-auto">
    <img class="w-100 mb-3" src="https://elements-cover-images-0.imgix.net/41ce1856-ce64-47eb-9cc9-d50c75ba936b?auto=compress%2Cformat&fit=max&w=1370&s=8e9f799d7a63da170b034261e3b6f625"/>
    <p class="fs-3 text-center">找不到任何活動</p>
</div>