@using Bccupass_CoreMVC.Models.ViewModel.Account


@model LoginViewModel;


<!-- 登入 -->

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered login-modal-dialog">
        <div class="modal-content login-modal">
            <button type="button" class="btn-close d-flex justify-content-center" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header d-flex justify-content-center mt-5">
                <h5 class="modal-title fs-5 fw-bold" id="exampleModalLabel">登入</h5>
            </div>
            <p class="description text-center">開啟有趣生活的任意門，就從登入開始！</p>
            <div class="modal-body mb-0">
                <div class="inner">
                    <input name="account" id="loginAccount" class="input account d-inline-flex justify-content-start align-items-center mb-2" type="text" placeholder="電子郵件" value="">
                    <span class="icon d-flex justify-content-center  align-items-center">
                        <i class="fas fa-envelope d-inline-block">
                        </i>
                    </span>

                    @Html.ValidationMessageFor(model => model.Input.Account, "", new { @class = "text-danger" })
                </div>
                <div class="inner">
                    <input name="password" id="loginPassword" class="input password d-inline-flex justify-content-start align-items-center mb-2" type="text" placeholder="密碼" value="">
                    <span class="icon d-flex justify-content-center  align-items-center">
                        <i class="fas fa-key d-inline-block">
                        </i>
                    </span>

                    @Html.ValidationMessageFor(model => model.Input.Password, "", new { @class = "text-danger" })
                </div>

                <div class="forget-div text-end mb-3">
                    <a class="forget-password text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#forgetModal">忘記密碼?</a>
                </div>
                <div class="btn-div">
                    <button type="button" id="loginBtn" class="finish-btn login-btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
                        登入
                    </button>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between mt-1 mb-3 pt-1">
                <span>還不是Bccupass會員?</span>
                <div class="a-div">
                    <a class="sign-up text-decoration-none" data-bs-toggle="modal" data-bs-target="#signUpModal">註冊</a>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
