@using Bccupass_CoreMVC.Models.ViewModel.Organizer

@model OrganizerAboutViewModel



<div class="organizer-side-card bg-white py-5">
    <img class="organizer-img mb-4 m-auto" src="@Model.organizer.Image" alt="主辦頭貼" />
    <h2 class="fs-5 text-center">@Model.organizer.Name</h2>
    <div class="fans-block d-flex flex-column align-items-center">
        <span class="fans-count fs-2">151</span>
        <span class="mb-4">粉絲數</span>
    </div>
    <div class="cta-btns d-flex flex-column p-4">
        <button class="track-organizer-btn mb-3 py-1">追蹤</button>
        <a class="contact-organizer-btn text-center py-1" href=@Model.organizer.Email>聯絡主辦</a>
    </div>
</div>
