<div>
    <label for="startTime" class="d-block m-md-2">開始時間:</label>
    <input class="time-select d-inline col-11 col-md-5 m-md-2 m-0" type="date" id="startTime" name="startTime">
    <select class="time-select d-inline col-5 col-md-3 m-md-2 me-2" aria-label="Default select example">
        <option selected></option>
        <option value="1">00</option>
        <option value="2">01</option>
        <option value="3">02</option>
        <!-- 選項用JS -->
    </select>
    <select class="time-select d-inline col-5 col-md-3 m-md-2 m-2" aria-label="Default select example">
        <option selected></option>
        <option value="1">00</option>
        <option value="2">05</option>
        <option value="3">10</option>
        <!-- 選項用JS -->
    </select>
</div>
<div class="mb-4">
    <label for="startTime" class="d-block m-md-2">結束時間:</label>
    <input class="time-select d-inline col-11 col-md-5 m-md-2 m-0" type="date" id="startTime" name="startTime">
    <select class="time-select d-inline col-5 col-md-3 m-md-2 me-2" aria-label="Default select example">
        <option selected></option>
        <option value="1">00</option>
        <option value="2">01</option>
        <option value="3">02</option>
        <!-- 選項用JS -->
    </select>
    <select class="time-select d-inline col-5 col-md-3 m-md-2 m-2" aria-label="Default select example">
        <option selected></option>
        <option value="1">00</option>
        <option value="2">05</option>
        <option value="3">10</option>
        <!-- 選項用JS -->
    </select>
</div>