@{
    var isLogin = User.Identity.IsAuthenticated;
}

@section Topcss {
    <link rel="stylesheet" href="~/css/Activity/Detail.css" />
    <link rel="stylesheet" href="~/css/layout/layout.css">
    <link rel="stylesheet" href="~/css/layout/Login.css" />
}


@if (isLogin)
{
    <div class="nav-item">
        @{
            var userImage = User.Claims.FirstOrDefault(x => x.Type == "UserImage");
            if (userImage != null)
            {
                <div style="width: 100%; height: 100%">
                    <img class="img-wrap m-auto" src="@userImage.Value" style="width: 50px; height: 50px; border-radius: 50px" alt="使用者頭貼"/>
                </div>
            }else{ 
                    
                <div style="width: 100%; height: 100%">
                    <img class="img-wrap m-auto" src="@Url.Action("https://i.blogs.es/c4a662/chrome/840_560.jpg")" style="width: 50px; height: 50px; border-radius: 50px" alt="使用者頭貼" />
                </div>  
            }
        }
    </div>
    
    <a class="nav-link text-dark" href="/Account/Logout">登出</a>
}
else
{
    <div class="d-flex">
        <button type="button" class="nav-link bg-transparent border border-transparent border-0" data-bs-toggle="modal" data-bs-target="#loginModal">登入</button>
    </div>
    <div class="d-flex">
        <button type="button" class="nav-link bg-transparent border border-transparent border-0" data-bs-toggle="modal" data-bs-target="#signUpModal">註冊</button>
    </div>
}