@using Bccupass_CoreMVC.Models.ViewModel.Activity

@model ActivityIndexViewModel

@section Topcss {
    <link rel="stylesheet" href="~/css/Activity/Index.css" />
}

<div class="search-result bg-white p-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
    <div class="container">
        <p class="m-0 d-xl-none"><span>台北</span> / <span>藝文</span> / <span>免費</span></p>
        <ul class="m-0 p-0 d-none d-xl-block">
            <li class="d-flex">
                <span class="category">地區</span>
                <ul class="d-flex p-0 list-unstyled">
                    <li class="option mx-1">台北</li>
                    <li class="option mx-1">新北</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="">
    <div class="search-window offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasTopLabel">搜尋條件</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            ...
        </div>
    </div>
    <div class="card-list-wrap">
        <div class="activity-tab my-3">
            <ul class="nav nav-tabs container">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">進行中</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">尚未開始</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">已結束</button>
                </li>
            </ul>
            <div class="sort d-flex my-3 container">
                <button class="sort-btn px-3 py-1 m-1 active" id="sort-by-time">依時間排序</button>
                <button class="sort-btn px-3 py-1 m-1" id="sort-by-price">依票價排序</button>
                <button class="sort-btn px-3 py-1 m-1" id="sort-by-like">依收藏數排序</button>
            </div>
            <div class="tab-content container" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        @foreach (var item in Model.ActivityList)
                        {
                            <div class="activity-card col-sm-12 col-md-6 col-lg-4">
                                @await Html.PartialAsync("_activityCardPartial", item)
                            </div>
                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        @foreach (var item in Model.ActivityList)
                        {
                            <div class="activity-card col-sm-12 col-md-6 col-lg-4">
                                @await Html.PartialAsync("_activityCardPartial", item)
                            </div>
                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row">
                        @foreach (var item in Model.ActivityList)
                        {
                            <div class="activity-card col-sm-12 col-md-6 col-lg-4">
                                @await Html.PartialAsync("_activityCardPartial", item)
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="pagination m-auto d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>*@